[Unit]
Description=Gunicorn instance for ${APP_NAME}
After=network.target mysql.service


[Service]
User=${APP_USER}
Group=${APP_GROUP}
WorkingDirectory=${APP_DIR}
Environment="PATH=${APP_DIR}/venv/bin"
Environment="PYTHONPATH=${APP_DIR}"
ExecStartPre=${APP_DIR}/venv/bin/python3 -c "from app import create_app; app = create_app()"
ExecStart=${APP_DIR}/venv/bin/gunicorn --workers 4 --bind 127.0.0.1:8000 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
